@using NewsForum.Models.ViewModels
@model GetItemViewModel
@{
    ViewBag.Title = Model.News.Title;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1> @Model.News.Title </h1>
    <h3>@Model.News.ShortDesc</h3>
    <img src="@Model.News.Img">
    <div>
        @Model.News.Desc
    </div>
    <div>
        <h5>
            Автор:
            @Model.News.Author
        </h5>
    </div>
    <span>@Html.ActionLink(Model.News.Category.Title, "GetList", "NewsList", new { id = Model.News.Category.Id })</span>
    @if (User.Identity.IsAuthenticated)
    {
        if (User.Identity.Name == Model.News.Author)
        {
            <span>
                @Html.ActionLink("Редактировать", "EditForm", "EditNews", new { id = Model.News.Id })
                @Html.ActionLink("Удалить", "DeleteNews", "EditNews", new { id = Model.News.Id })
            </span>
        }
        <h5>
            Оставить комментарий
        </h5>
        <form id="form-id" action="@(Url.Action("EditComments", "Comments",  new { newsId = Model.News.Id}))"
              method="post" >
            <textarea style="width:90%" name="text" id="text-id">
            </textarea><br />
            <input name="date" type="hidden" id="date-id" />
            <input type="submit" id="submit-id" value="Опубликовать" />
        </form>
    }
    <h5>Комментарии</h5>
    <div id="list-id">
        @foreach (var item in Model.News.Comments)
        {
            <div id="@item.Id">
                <h6>
                    @Html.DisplayFor(modelItem => item.Author)
                </h6>
                <div>
                    @Html.DisplayFor(modelItem => item.Text)
                </div>
                
                <div>
                    <span style="font-size: small">
                        @((Model.Offset != null ? item.Date.AddHours((int)Model.Offset) : item.Date).ToString("dd.MM.yyyy HH:mm"))
                        @(Model.Offset != null ? "" : "(по UTC)") 
                    </span>
                    @if (User.Identity.Name == item.Author)
                    {
                        <span>
                            @Html.ActionLink("Удалить", "DeleteComment", "Comments", new { newsId = Model.News.Id, Id = item.Id })
                        </span>
                    }
                </div>
                
            </div>
        }
    </div>

    <script>
        const form = document.getElementById('form-id');
        const date = document.getElementById('date-id');

        form.addEventListener('submit', (event) => {

            const dateNow = new Date();
            date.value = `${dateNow.getFullYear()}-${
                (dateNow.getMonth() + 1).toString().padStart(2, '0')}-${
                dateNow.getDate().toString().padStart(2, '0')}-${
                dateNow.getHours().toString().padStart(2, '0')}-${
                dateNow.getMinutes().toString().padStart(2, '0')}-${
                dateNow.getSeconds().toString().padStart(2, '0')}`;
        });
    </script>
</body>
</html>